<!DOCTYPE html>
<html>
<head>
  <title>Edinburgh</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="utf-8">
  <meta name="theme-color" content="#0D2553">
  <link rel="manifest" href="/manifest.json">
</head>
<nav>
  <a href="/" class="home">Edinburgh</a>
  <a href="/timeline" class="timeline">timeline</a>
</nav>
<div id="app"></div>
<%= yield %>
<script src="/bundle.js"></script>
