<div id="timeline">
  <p>sec: <span id="timer">0</span></p>
  <% if logged_in? %>
    <div id="tweets"></div>
    <p id="message"><%= @message %></p>
    <div>
      <a href="/logout">logout</a>
    </div>
  <% else %>
    <div>
      <a href="/auth/twitter">login</a>
    </div>
  <% end %>
</div>
